.recipe__search__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-textfield {
  border: 1px solid #c2bbbd;
  width: 30%;
  height: 50px;
  margin-left: 35%;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 2rem;
  padding-left: 20px;
}

.search-textfield:hover {
  box-shadow: 3px 3px 3px 3px rgba(243, 244, 244, 0.25),
    0 10px 10px rgba(243, 244, 244, 0.22);
  border: 1px solid white;
}
